 <% posts.each do |post| %>
   <ul class="posts">
     <li class="post" id="<%=post.id %>">
     <span class="title">
       <p>
          <%=post.title %>
       </p>
   </span>
   <span class="body">
     <%=wrap_long_string post.body %>
 </span>
     </li>
   </ul>
 <% end %>
